.selectedComponent{
    background-color:yellow;
    font-size:medium;
    font-weight: bold;
    font-family:monospace;
  
    /* animation-name: example;
        animation-duration: 4s;
          transition:all 2s; */
  }
  
  .normalConent{
    font-family:monospace;
    font-weight: bold;
    font-size:medium;
  
  }
  
  .container {
    scroll-behavior: smooth;
  
  }
  /*
  @keyframes example {
    0%   { background-color:rgb(241, 238, 157)}
   100% { background-color:yellow}
  } */